<div class="row">

  <div class="small-3 columns">
    <table class="hover">
      <tbody>
      {{#each model as |repo|}}
        <tr onclick={{perform loadRepo repo.full_name}}>
          <td>
            {{repo.name}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

  <div class="small-9 columns">

    {{#if loadRepo.isRunning}}

      {{load-ing}}
      <button onclick={{action "cancel"}} type="button" class="alert button">
        Cancel
      </button>

    {{else}}

      <h4>{{loadRepo.lastSuccessful.value.repo}}</h4>
      <ul>
        {{#each-in loadRepo.lastSuccessful.value.languages as |language lines|}}
          <li> {{language}} - {{lines}} </li>
        {{/each-in}}
      </ul>

    {{/if}}

  </div>

</div>


